/* Copyright 2008 Google Inc. All Rights Reserved. */
.google-visualization-sparkline-default {
  background-color: #ffffff;
  padding: 1px;
  border-spacing: 0px;
  font-size: small;
  color: gray;
}

.google-visualization-sparkline-selected {
  background-color: #d6e9f8;
  padding: 1px;
  border-spacing: 0px;
  font-size: small;
  color: gray;
}

.google-visualization-sparkline-over {
  background-color: #e7e9f9;
  padding: 1px;
  border-spacing: 0px;
  font-size: small;
  color: gray;
}

.google-visualization-sparkline-image {
  display: block;
}
