<div class="text-center hidden-print">
    <h2 class="sr-only">Pagination</h2>
    <ul class="pagination pagination-lg">
        <% (1..@num_pages).each do |page| %>
          <% css_class = @page == page ? "active" : "" %>
            <li class="<%= css_class %>">
                <a href="<%= home_search_url() + "?" + @page_qs + "&page=" + page.to_s %>"><%= page %></a>
            </li>
        <% end %>
    </ul>
</div>
