<div class="row hero">
  <div class="theme-showcase">
    <div class="col-md-12">
      <div class="container" role="main">

        <div class="jumbotron">
          <p>This site presents a new way of looking at Brown's researchers
            and faculty members. The style is a bit more modern that our
            <a href="http://vivo.brown.edu" title="current VIVO site">current site</a>
            and should be considerably faster. </p>
            <p>We are still in the process of building this new version and
              adding functionality to it, but feel free to play with it
              and let us know what you think.</p>
        </div>

        <form id="search-homepage" action="<%= home_search_path() %>" name="search-home" role="search" method="GET">
          <div class="input-group input-group-lg">
            <input class="form-control" name="q" placeholder="Search for an Expert..." type="text">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default btn-lg sympl-search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
