<%= render "search_box" %>

<div class="container-fluid col-sm-12">
  <div class="row col-lg-12 col-md-12 col-sm-12">
    <p>&nbsp;</p>
    <h2>Brown University</h2>

    <a href="http://www.brown.edu" target="_blank">
      <img src="http://library.brown.edu/vivo/images/brownHomePage.jpg"
        align="right" title="Click to view the Brown University website." />
    </a>

    <p>Located in historic Providence, Rhode Island and founded in 1764,
      Brown University is the seventh-oldest college in the United States.</p>

    <p>The President is the chief executive officer of the university.
      Christina Paxson, Brown’s 19th President, was elected by and reports to
      the Corporation, Brown’s top governing body.</p>

    <p>The Provost is the chief academic officer overseeing educational policy
      and budgetary functions of the College, the Graduate School, and the
      Medical School. Academic deans, several vice presidents, and other
      directors report to the Provost.</p>

    <p>Various Vice Presidents also report directly to the President and are
      responsible for specific administrative units.</p>

    <ul>
      <li>President: Christina Paxson</li>
      <li>Provost: Richard Locke</li>
      <li>Executive Vice President for Finance and Administration: Barbara Chernow</li>
      <li>Senior Vice President for University Advancement: Patricia A. Watson</li>
      <li>Vice President for Campus Life and Student Services: Eric Estes</li>
      <li>Vice President for Communications: Cass Cliatt</li>
      <li>Vice President for Research: <a href="http://vivo.brown.edu/individual/dsavitz">David Savitz</a></li>
      <li>Vice President for Human Relations: Karen Davis</li>
      <li>Vice President/CIO for Computing and Information Services: Ravi Pendse</li>
      <li>Executive Vice President for Policy and Planning: Russell Carey</li>
      <li>Vice President and General Counsel: Beverly Ledbetter</li>
      <li>Assistant to the President: Kimberly Roskiewicz</li>
      <li>Dean of Medicine and Biological Sciences: <a href="http://vivo.brown.edu/individual/jaelias">Jack Elias</a></li>
      <li>Dean of the College: Maud Mandel</li>
      <li>Dean of the Faculty: <a href="http://vivo.brown.edu/display/kmclaugh">Kevin McLaughlin</a></li>
      <li>Dean of the Graduate School: <a href="https://www.brown.edu/academics/gradschool/andrew-g-campbell">Andrew G. Campbell</a></li>
      <li>Dean of Engineering: <a href="http://vivo.brown.edu/display/ll7">Lawrence Larson</a></li>
      <li>Dean, School of Public Health: Terrie Wetle</li>
      <li>Associate Provost for Academic Development and Diversity: Liza Cariaga-Lo</li>
      <li>Vice President for Strategic Initiatives and Dean of the School of Professional Studies: Karen Sibley</li>
    </ul>
  </div>
</div>
