<%= render "search_box" %>

<div class="container">
  <div class="row">
    <h2>Frequently Asked Questions</h2>
    <ol>
    <li><a href="#who">Who is included in Researchers@Brown?</a></li>
    <li><a href="#profile">I don’t have a profile. How do I get one?</a></li>
    <li><a href="#edit">How do I edit my profile?</a></li>
    <li><a href="#stick">I’m editing my profile but the changes don’t stick.</a></li>
    <li><a href="#deputy">Can I assign a deputy to edit my profile?</a></li>
    <li><a href="#sources">What are the sources for profile information?</a></li>
    <li><a href="#name">How do I change my name, title, position, or degrees?</a></li>
    <li><a href="#courses">Which courses are listed on my profile?</a></li>
    <li><a href="#harvest">I don’t see any pending publications in the profile manager. How can I get my publications automatically harvested for approval?</a></li>
    <li><a href="#jacket">I’ve recently published a book.  How do I get it added to the book jackets featured on the Researchers@Brown homepage?</a></li>
    <li><a href="#ranking">How are the results ranked when I search for a researcher?</a></li>
    </ol>

    <a name="who"></a><h3>1. Who is included in Researchers@Brown?</h3>
    <p>Faculty affairs offices in the Dean of the Faculty, the Division of Biology and Medicine, and the School of Public Health have created a set of simple rules for inclusion in Researchers@Brown. While the rules determine the automated creation of profiles, any Brown faculty member may request a profile by contacting the appropriate faculty affairs office:
    <ul>
    <li>Dean of the Faculty: email <a href="mailto:Edward_Goll@brown.edu">Edward_Goll@brown.edu</a></li>
    <li>Division of Biology and Medicine: email <a href="mailto:bmfa@brown.edu">bmfa@brown.edu</a></li>
    <li>School of Public Health: email <a href="mailto:Elizabeth_Boynton@brown.edu">Elizabeth_Boynton@brown.edu</a></li>
    </ul>
    </p>
    <p>
    Automatically included in Researchers@Brown:
    <ul>
    <li>All regular faculty</li>
    <li>All (research) faculty</li>
    <li>All faculty who had a profile in the Directory of Research and Researchers at Brown</li>
    <li>All adjunct faculty in the Division of Biology and Medicine</li>
    <li>Emeriti faculty
    </ul>
    </p>
    <p>
    Not automatically included in Researchers@Brown but may request a profile:
    <ul>
    <li>Adjuncts and Visitors in Public Health and E&G</li>
    <li>Postdoctoral Fellows and Postdoctoral Associates</li>
    <li>Affiliates and Visiting Scholars, Scientists, and Investigators</li>
    <li>House Staff</li>
    <li>Fellows</li>
    </ul>
    </p>

    <a name="profile"></a><h3>2. I don't have a profile. How do I get one?</h3>
    <p>Contact the appropriate faculty affairs office:
    <ul>
    <li>Dean of the Faculty: email <a href="mailto:Edward_Goll@brown.edu">Edward_Goll@brown.edu</a></li></li>
    <li>Division of Biology and Medicine: email <a href="mailto:bmfa@brown.edu">bmfa@brown.edu</a></li>
    <li>School of Public Health: email <a href="mailto:Elizabeth_Boynton@brown.edu">Elizabeth_Boynton@brown.edu</a></li>
    </ul>
    </p>

    <a name="edit"></a><h3>3. How do I edit my profile?</h3>
    <ul>
    <li>Log in by clicking the "Manage Your Profile" link on the top right of any page.</li>
    <li>For group or one-on-one assistance contact <a href="mailto:researchers@brown.edu">researchers@brown.edu</a>.</li>
    </ul>
    </p>

    <a name="stick"></a><h3>4. I'm editing my profile but the changes don't stick.</h3>
    <p>There is a problem with saving edits in Internet Explorer 8. However, Firefox, Chrome, and more recent versions of Internet Explorer work fine.
    The edits you make in your Researchers@Brown profile are immediately saved and available in the editing interface -- however, there may be a slight delay before they appear in the public profile.
    </p>

    <a name="deputy"></a><h3>5. Can I assign a deputy to edit my profile?</h3>
    <p>Yes, you can assign one or more deputies to edit your profile.
    <ul>
    <li>Log in by clicking the "Manage Your Profile" link on the top right of any page.</li>
    <li>Click on "Settings" on the left hand menu.</li>
    <li>In the box under "Deputy Editors" begin to type a last name.</li>
    <li>As you type, the system will search the Brown directory so that you can select the appropriate name.</li>
    </ul>
    </p>

    <a name="sources"></a><h3>6. What are the sources for profile information?</h3>
    <p>Your name comes from Workday via the Faculty Information System (FIS). Your title, position, degrees, and department come from FIS. Your recent courses taught come from Banner.
    If you had a profile in the now obsolete Directory of Research and Researchers at Brown (DRRB), data you entered in that system was migrated to Researchers@Brown in 2014.
    </p>

    <a name="name"></a><h3>7. How do I change my name, title, position, or degrees?</h3>
    <ul>
    <li>To change the name that displays on your profile, go to Workday → Personal data → Preferred Name. Make sure to uncheck the box that says "Use Legal Name As Preferred Name."
    <li>If there are errors in your title, position, degrees, or department contact the appropriate faculty affairs office.
    	<ul>
    		<li>Dean of the Faculty: email <a href="mailto:Edward_Goll@brown.edu">Edward_Goll@brown.edu</a></li>
    		<li>Division of Biology and Medicine: email <a href="mailto:bmfa@brown.edu">bmfa@brown.edu</a></li>
    		<li>School of Public Health: email <a href="mailto:Elizabeth_Boynton@brown.edu">Elizabeth_Boynton@brown.edu</a></li>
    	</ul>
    <li>Your changes will go into effect in Researchers@Brown within a few days.
    </ul>

    <a name="courses"></a><h3>8. Which courses are listed on my profile?</h3>
    <p>Researchers@Brown lists the courses for which you were the instructor in the last three years. If you don't see a course that you taught, contact your department administrator to confirm that you are listed as an instructor in Banner.
    </p>

    <a name="harvest"></a><h3>9. I don’t see any pending publications in the profile manager. How can I get my publications automatically harvested?</h3>
    <p>If you have no pending publications but wish to have publications harvested in the future:
    <ul>
    <li>You need to ‘seed’ the harvest.  Add 2-3 articles by entering a DOI or PMID in the "Add publication by DOI or PMID" section.</li>
    <li>Your publications should be included in the next harvest.</li>
    <li>Harvesting is done every Sunday night.</li>
    </ul>
    </p>

    <a name="jacket"></a><h3>10. I've recently published a book. How do I get it added to the book jackets featured on the Researchers@Brown home page?</h3>
    <p>Email the book title to <a href="mailto:researchers@brown.edu">Researchers@brown.edu</a>.</p>

    <a name="ranking"></a><h3>11. How are the results ranked when I search for a researcher?</h3>
    <p>We use a variety of factors to determine the order in which researchers are displayed when you search for a particular keyword. In particular we sort the results depending on where the keyword that was searched for was found on each of the researcher profiles. For example, if the keyword searched for matches the name of the researcher we give those researcher profiles a higher ranking than the rest (e.g. if you search for "Smith" people with last name "Smith" will show up first). Likewise, if the keyword searched for matches the title, department or affiliation we give those researcher profiles a higher ranking than for those where the text was found anywhere else (except the name). In other words, we give each field a different "weight" in order to provide the most relevant results first.
    </p>
    <p>The weighting that we use on each of the fields is as follows:
    <ul>
    <li>Researcher Name (weight: 2000)</li>
    <li>Researcher Title or Department (weight: 1500)</li>
    <li>Researcher Affiliation (weight: 450)</li>
    <li>Anywhere else (weight: 1)</li>
    </ul>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>
