<h2>Frequently Asked Questions</h2>

<h3>I don't have a profile.  How do I get one?</h3>
<p>Contact the appropriate <b>faculty affairs office</b>:
<ul>
<li>Dean of the Faculty: email <a href="mailto:Edward_Goll@brown.edu">Edward_Goll@brown.edu</a></li>
<li>Division of Biology and Medicine: email <a href="mailto:bmfa@brown.edu">bmfa@brown.edu</a></li>
<li>School of Public Health: email <a href="mailto:Pamela_Colardo@Brown.EDU">Pamela_Colardo@brown.edu</a></li>
</ul>
</p>

<h3>How do I edit my profile?</h3>
<ul>
<li>Log in by clicking the "Manage Your Profile" link on the top right of any page.</li>
<li>For detailed instructions see <a href="http://library.brown.edu/vivo/UserGuide.pdf">User's Guide to Researchers@Brown</a>.</li>
<li>For group or one-on-one assistance contact <a href="mailto:researchers@brown.edu">researchers@brown.edu</a>.</li>
</ul>

<h3>Can I assign a deputy to edit my profile?</h3>
<p>Yes, you can assign one or more deputies to edit your profile.
<ul>
<li>Log in by clicking the "Manage Your Profile" link on the top right of any page. </li>
<li>Click on "Settings" on the left hand menu.</li>
<li>In the box under "Deputy Editors" begin to type a last name.</li>
<li>As you type, the system will search the Brown directory so that you can
select the appropriate name. </li>
</ul>
</p>

<h3>What are the sources for profile information?</h3>
<p>Your name comes from Workday via the Faculty Information System (FIS).
  Your title, position, degrees, and department come from FIS. Your recent
  courses taught come from Banner.  All other data comes from your profile
  in the now obsolete Directory of Researcher and Researchers at Brown (DRR-B).
  For a detailed list of content see: <a href="https://vivo.brown.edu/about/#what">https://vivo.brown.edu/about/#what</a>
</p>

<h3>How do I change my name, title, position, or degrees?</h3>
<ul>
  <li>To change the name that displays on your profile, go to
    <a href="https://wd5.myworkday.com/brown/login.flex">Workday</a> → Personal data → Preferred Name.
    Make sure to uncheck the box that says "Use Legal Name As Preferred Name."</li>

    <li>If there are errors in your title, position, degrees, or department
      contact the appropriate faculty affairs office aforementioned.</li>

    <li>Your changes will go into effect in Researchers@Brown within a few days.</li>
</ul>

<h3>Which courses are listed?</h3>
<p>Researchers@Brown lists the courses for which you were the instructor
in the last three years. If you don't see a course that you taught, contact
your department administrator to confirm that you are listed as an instructor.
</p>

<h3>What is the relation of Researchers@Brown to the Directory of Research and Researchers at Brown?</h3>
<p>Researchers@Brown contains most of the information that was entered in the DRR-B.
  Researchers@Brown supersedes the DRR-B. </p>


<h3>I'm editing my profile but the changes don't stick.</h3>
<p>There is a problem with saving edits in Internet Explorer 8. Firefox, Chrome,
  and more recent versions of Internet Explorer work fine.</p>

<p>The edits you make in your Researchers@Brown profile are immediately saved
  and available in the editing interface --  however, there may be a slight
  delay before they appear in the public profile.
</p>


<h3>How can I get my publications automatically harvested for approval?</h3>
<p>Initially publications were harvested for BioMed faculty for whom a CV was provided.
  If you have no pending publications but wish to have publications harvested in the future:
  <ul>
  <li>Add at least one article by entering a PMID in the "Add publication by DOI or PMID" section</li>
  <li>Your publications will be included in the next harvest</li>
  <li>Harvesting is done every Sunday night</li>
  </ul>
</p>


<h3>I've recently published a book.
  How do I get it added to the book jackets featured on <a href="http://vivo.brown.edu">http://vivo.brown.edu</a>?</h3>
<p>
  Email the book title to <a href="mailto:researchers@brow.edun">Researchers@brown.edu</a>.
</p>
