<h2>Help</h2>
<p>&#187; <a href="about/">About Researchers@brown</a></p>

<p><img src="http://library.brown.edu/vivo/images/screencast.jpg" align="right" style="margin-right:50px;" />&#187; Instructions</p>
<ul style="list-style:disc;margin-left:40px">
  <li><a href="http://library.brown.edu/vivo/UserGuide.pdf">User's Guide to  Researchers@brown <img src="http://library.brown.edu/vivo/images/pdficon_small.png" /></a> <br /></li>

<li><a href="http://www.screencast.com/t/6LKyqKgT2">User's Guide Screencast</a></br />&nbsp;&nbsp;&nbsp; 8 minutes - Use list icon on bottom right for table of contents. <br /><br /></li>

    <li><a href="/publications">Managing Your Publications</a><br />
     <a href="http://www.screencast.com/t/BPcARDBuyZS">Publications Screencast</a> (4 minutes)
<br /><br /></li>
</ul>
<p>&#187; <a href="faq/">Frequently Asked Questions</a></p>
<p>&#187; <a href="roadmap/">Recent Improvements and Roadmap for Future Development</a></p>
<p>&#187; <a href="https://docs.google.com/a/brown.edu/forms/d/1H_LzEHRzpxv3OY266RjSwpAMwVuTEUFyNEgMPcZ4NiA/viewform">Give Feedback!</a> -- submit problems, suggestions, questions ...
<p>&#187; For help with profiles contact: <a href="mailto:researchers@brown.edu">researchers@brown.edu</a></p>
