<div class="container">
  <div class="row">
    <h2>Help</h2>

    <h3>General information</h3>
    <p>For general information about this site including its
      relation to the Directory of Research and Researchers at Brown (DRR-B)
      visit the <a href="about/">About Researchers@Brown</a> page.

    <h3>FAQ</h3>
    <p>We also keep a list of <a href="faq/">Frequently Asked Questions</a> that
      you might find useful.</p>

    <h3>Editing your profile information</h3>
    <p>The <a href="http://library.brown.edu/vivo/UserGuide.pdf" target="_blank">User's Guide
      to Researchers@Brown <img src="http://library.brown.edu/vivo/images/pdficon_small.png" /></a>
      is a good place to learn how to enter and manage your information. You can also
      <a href="http://www.screencast.com/t/6LKyqKgT2" target="_blank">watch this step by step tutorial</a>
      (8 minutes) to learn more about the different sections of information that you can edit.
    </p>

    <p style="text-align:center">
      <iframe class="tscplayer_inline embeddedObject" name="tsc_player" scrolling="no"
        frameborder="0" type="text/html" style="overflow:hidden;"
        src="https://www.screencast.com/users/bellis_lib/folders/Camtasia/media/12d41516-afdd-471b-8220-b6270d35b4b5/embed"
        height="272" width="400" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </p>

    <h3>Managing your publications</h3>
    <p>Publications are an important part of your profile and there are several
      options to manage them. Visit the <a href="/publications">Managing Your Publications</a>
      page to get details or
      <a href="http://www.screencast.com/t/BPcARDBuyZS" target="_blank">watch this short tutorial</a> (4 minutes).
    </p>

    <p style="text-align:center">
      <iframe class="tscplayer_inline embeddedObject" name="tsc_player" scrolling="no"
        frameborder="0" type="text/html" style="overflow:hidden;"
        src="https://www.screencast.com/users/bellis_lib/folders/Camtasia/media/92364717-9357-44a2-a082-7e47d3c003d1/embed"
        height="269" width="400" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </p>

    <h3>Contact Us</h3>
    <p>If you have any suggestions, problems, or questions you can submit them to us via
      <a href="https://docs.google.com/a/brown.edu/forms/d/1H_LzEHRzpxv3OY266RjSwpAMwVuTEUFyNEgMPcZ4NiA/viewform">this form</a>.
      We'd love to hear from you.</p>

    <p>You can also e-mail us directly at <a href="mailto:researchers@brown.edu">researchers@brown.edu</a>.
  </div>
</div>
