<%= render "search_box" %>

<div class="container">
  <div class="row">
    <h2>VIVO History and Implementation at Brown</h2>
    <p>Researchers@Brown replaces an outmoded legacy site, the Directory of Research and Researchers at Brown (DRR-B), with a more robust and sustainable application.  Unlike the DRR-B, Researchers@Brown is tied into Brown systems of record -- Workday, the Faculty Information System (FIS), and Banner. Unlike the DRR-B, in which all data was purely textual, the data model for Researchers@Brown uses a standard linked data format and semantic web tools.
    </p>
    <p>To ensure a smooth transition from the DRR-B, Researchers@Brown was rolled out in phases.
    <ul>
    <li><strong>Phase 1 (November 2013 - April 2014): Migration of DRR-B Data and User Testing</strong><br />
    <p>Data from DRR-B profiles was migrated to Researchers@Brown by March 1, 2014. In addition to the information carried over from the DRR-B, these new profiles included teaching information from Banner and name, title, department, degree, and contact information from the Faculty Information System (FIS). A PDF file of the faculty member’s CV (from the DRR-B) was migrated as well.
    </p>
    <p>
    In December, 2013 and January 2014, we conducted extensive testing of Researchers@Brown with participation by 57 faculty members across 44 academic departments, receiving overall positive feedback from those who reviewed their data and tested the functionality of the system. While faculty offered a number of good suggestions for future enhancements, most indicated that Researchers@Brown was a clear improvement over DRR-B and significantly better than the earlier implementation of VIVO.
    </p>
    <p>
    During a soft launch in March and April 2014, faculty were able to review and edit their new profiles while their DRR-B profiles remained visible but not editable. On May 1, 2014, Researchers@Brown went live, the DRR-B was decommissioned, and individual DRR-B profiles were automatically redirected to the new Researchers@Brown individual profiles.
    </p>
    <p>
    Faculty and their deputies were able to to edit their profiles in a newly created user-friendly editing interface by clicking "Manage your profile" on the top right of any page.
    </p>
    </li>

    <li><strong>Phase 2 (May - July 2014): Structured Publication Data</strong><br />
    <p>A user-friendly editor for publications was launched on July 1, 2014 in conjunction with automated harvesting of publications from PubMed for BioMed and Public Health faculty. This editor allows all faculty to easily add and edit structured publication data by entering a citation or simply a DOI or PubMed ID. Publications data includes links to full text if a DOI is available.
    </p>
    <p>
    For BioMed and Public Health faculty, publication data from vendor-parsed CVs was used to seed the harvesting of additional publications using the Harvard Catalyst API. Structured publication data is intended to replace plain text citations in the "Scholarly Work" section of Researchers@Brown.
    </p>
    </li>

    <li><strong>Phase 3 (Summer - October 2014): Hospital-based Faculty Data. Researchers@Brown Governance Structure</strong><br />
    <p>Select publication data from vendor-parsed CVs was loaded into profiles for hospital-based faculty. Publication data from vendor-parsed CVs was used to seed harvesting of additional publications using the Harvard Catalyst API.
    </p>
    <p>
    Plans were developed for harvesting from sources other than PubMed (Web of Science, etc) and on behalf of other faculty groups and disciplines.
    </p>
    <p>
    Planning for a governance structure to set policies and priorities for the maintenance and further development of Researchers@Brown was begun.
    </p>
    </li>
    </ul>
  </div>
</div>
