<%= render "search_box" %>

<div class="container">
  <div class="row">
    <h2>Managing Your Publications</h2>
    <p>
    <a href="#sources"> &#187; Sources for Publications</a><br />
    <a href="#login"> &#187; Login & Begin</a><br />
    <a href="#verify"> &#187; Verify Publications</a><br />
    <a href="#add"> &#187; Add Publications</a><br />
    <a href="#edit"> &#187; Edit Publications</a><br />
    <a href="#help"> &#187; Get Help</a>
    </p>

    <a name="sources"></a><h3>Sources for Publications</h3>
    <p>Publications may appear in two different sections of your public profile:</p>
    <ul>
    <li><strong>Publications</strong> in the "Publications" section are structured data that automatically link to full text if a DOI is present.  Publications are harvested weekly from PubMed and Web of Science and must be approved
    by you or your deputy before they appear on your public profile.  You can add publications to your public profile by entering a DOI, PMID, or a full citation.  If you have no pending publications to approve but wish to have publications harvested in the future:

    <ul>
    <li>Add at least one article by entering a PMID or DOI  in the "Add publication by DOI or PMID" section</li>
    <li>Your publications should be included in the next harvest</li>
    <li>Harvesting is done every Sunday night</li>
    </ul>
    </li>
    <li><strong>Scholarly Work.</strong> is a subsection within the "Research" section of your profile.  Publications appearing in this section are a block of plain text and cannot provide data for co-author network visualizations and other features requiring structured data.  In 2014 this section was populated with plain text publication data migrated from the now obsolete Directory of Research and Researchers at Brown site. We recommend using the Scholarly Work section for other scholarly activity beyond publications (e.g. performances, installations, editorships, etc.) that you wish to include in your profile.
    </li>
    </ul>

    <a name="login"></a><h3>Login and Begin Managing Your Publications</h3>
    <ul>
    <li>Click the "Manage Your Profile" link in the upper right hand corner of any page on the Researchers@Brown website.</li>
    <li>Log in using your Brown credentials. This will take you to the Profile Manager. On the left hand side of the page, you will see a sidebar of the editable areas of your profile. Click the "Publications" link.</li>
    </ul>

    <a name="verify"></a><h3>Verifying Your Publications</h3>
    <p>You may have harvested publications awaiting your approval before they can appear on your public profile.  Once you approve these publications they will be searchable in Researchers@Brown by title, journal title, co-authors, and other citation elements. If a DOI is present the article will link to full text. You have two options for verifying your publications: all at once or individually.</p>
    <ul>
    <li>Under "Publications" click the first button, "Manage publications." This section is organized into "Pending publications" and "Approved publications". Please take a moment to look through your pending publications. Note that under each title, there are two buttons: "Approve" and "This isn't my publication."</li>
    <li>If all the publications listed are correct, you can click the "Approve all pending publications" button on the right side of the "Pending publications" heading. The service will ask you to confirm that you want to approve all your pending publications. The process of approving all your publications can take up to about a minute depending on how many publications have to be approved. [You can always edit or delete publications at a later time if you notice errors.]</li>
    <li>You can also approve or reject each publication individually using the buttons under each title.
    <ul>
    <li>If you click "Approve," the color of the title will switch from black to gray and the status will switch from "Pending" to "Approved". The title will now show up in your public list of publications. If you wish to cancel this action, click "Cancel"; this will return the title's status to "Pending."</li>
    <li>If you are sure that a title is not yours, click "This isn't my publication." This will also change the color of the title from black to gray and the status will switch from "Pending" to "Declined." You can also cancel this action by clicking the cancel button, which will return the title to "Pending" status.</li>
    <li>Once you have finished verifying pending publications, they will show up in the approved publications section of the Manager next time you sign in. You can also see a public view of all your publications by clicking "Public list of publications", which will take you to the "Publications" section of your faculty profile.</li>
    </li>
    </ul>
    </ul>

    <a name="add"></a><h3>Adding New Publications</h3>
    <ul>
    <li>If you want to add structured publications or your harvested list of publications is incomplete, you can add a new publication in the profile editor by navigating to the "Publications" section. You can add a publication manually using the publication editor or by simply entering a DOI or PMID.</li>
    <li>If you click "Add publication," you will be asked to manually input all the citation information.</li>
    <li>If you click "Add a publication by DOI or PMID," you will be asked for the DOI or PMID. (The website does the rest.)</li>
    <li>Once you have entered the correct information, click "Submit."</li>
    </ul>

    <a name="edit"></a><h3>Editing Publications</h3>
    <ul>
    <li>Publications which have been harvested and approved or entered manually by citation or DOI/PMID appear as "Approved Publications." You can edit or delete each of these individually using the buttons under the titles.</li>
    <li>The edit button takes you to the publication editor where you can change the citation information by individual field.</li>
    </ul>

    <a name="help"></a><h3>Get Help</h3>
    <ul>
    <li>An <a href="http://www.screencast.com/users/bellis_lib/folders/Camtasia/media/92364717-9357-44a2-a082-7e47d3c003d1/embed" target="_blank">instructional screencast</a> to review managing publications is available.</li>
    <li>The publication editor has been set up initially with just a few categories. Please contact <a href="mailto:Researchers@brown.edu">Researchers@brown.edu</a> to request additional categories or with other feedback.</li>
    </ul>
  </div>
</div>
