<h2>Managing Publications</h2>

<p><a href="#begin">Login & Begin</a> | <a href="#verify">Verify Publications</a> | <a href="#edit">Edit Publications</a> | <a href="#new">Add Publications</a> | <a href="#help">Get Help</a>
<hr />
<h3>Biology and Public Health Faculty: see an <a href="http://www.screencast.com/users/bellis_lib/folders/Camtasia/media/92364717-9357-44a2-a082-7e47d3c003d1/embed" target="_blank">instructional screencast</a></h3>
<hr />
<p>
Currently, your publications show up in the "Scholarly Work" section of your profile as a block of plain text.  In a new "Publications" section it is now possible to have a clickable list of titles with links to full text when available.  ALL FACULTY can enter publications into a form that captures title, journal, and other citation metadata as separate fields. If you know the DOI or PMID for an article simply enter that identifier and Researchers@Brown will pull in all associated metadata. For any article with a DOI we will provide a link to the online text (if available).
</p>
<p>
Publications for Biology and Public Health faculty have been harvested from PubMed for approval in the Profile Manager.  Initially publications were harvested for faculty for whom a CV was provided.  If you have no pending publications but wish to have publications harvested in the future:

<ul style="list-style:disc;margin-left:25px">
<li>Add at least one article by entering a PMID in the "Add publication by DOI or PMID" section</li>
<li>Your publications will be included in the next harvest</li>
<li>Harvesting is done every Sunday night</li>
</ul>
</p>
<p>Harvesting from other sources (Web of Science, etc.) and for other faculty and disciplines will be available in the future.  Publications entered through the form or by entering a DOI/PMID are automatically "approved".  At this time only Biology and Public Health faculty will see "pending" publications needing approval.
</p>


<a name="begin"></a><h3><strong>Begin Managing Your Publications</strong></h3>
<p>
<ul style="list-style:disc;margin-left:25px">
<li>Click the “Manage Your Profile” link in the upper right hand corner of each page on the <a href="http://vivo.brown.edu">Researchers@Brown website</a>.</li>
<li>Log in using your Brown credentials. This will take you to the Profile Manager. On the left hand side of the page, you will see a sidebar of the editable areas of your profile. Click the “Publications” link.</li>
</ul>
</p>

<a name="verify"></a><h3><strong>Verifying Your Publications</strong> (Biology & Public Health Faculty)</h3>
<p>Starting with a few publications from your CV, we were able to query PubMed for other publications authored by you.  Once you approve these publications they will be searchable in Researchers@Brown by title, journal title, co-authors, and other citation elements. You have two options for verifying your publications: all at once or individually.
<ul style="list-style:disc;margin-left:25px">
<li>Under “Publications” click the first button, “Manage publications.” This section is organized into “Pending publications” and “Approved publications”. Please take a moment to look through your pending publications. Note that under each title, there are two buttons: “Approve” and “This isn't my publication.”</li>

<li>If all the publications listed are correct, you can click the “Approve all pending publications” button on the right side of the “Pending publications” heading. The service will ask you to confirm that you want to approve all your pending publications. The process of approving all your publications can take up to about a minute depending on how many publications have to be approved.  [You can always edit or delete publications at a later time if you notice errors.]</li>
<li>You can also approve or reject each publication individually using the buttons under each title.
<ul style="list-style:circle;margin-left:25px">
<li>If you click “Approve,” the color of the title will switch from black to gray and the status will switch from “Pending” to “Approved”. The title will now show up in your public list of publications. If you wish to cancel this action, click “Cancel”; this will return the title's status to “Pending. “</li>
<li>If you are sure that a title is not yours, click “This isn't my publication.” This will also change the color of the title from black to gray and the status will switch from “Pending” to “Declined.” You can also cancel this action by clicking the cancel button, which will return the title to “Pending” status.
</li>
<li>Once you have finished verifying pending publications, they will show up in the approved publications section of the Manager next time you sign in. You can also see a public view of all your publications by clicking "Public list of publications", which will take you to the “Publications” section of your faculty profile.</li>
</ul>
</ul>
</p>

<a name="edit"></a><h3><strong>Editing Publications</strong></h3>
<p>
<ul style="list-style:disc;margin-left:25px">
<li>Publications which have been harvested and approved or entered manually by citation or DOI/PMID appear as "Approved Publications." You can edit or delete each of these individually using the buttons under the titles. </li>
<li>The edit button takes you to the publication editor where you can change the citation information by individual field.</li>
</ul>
</p>

<a name="new"></a><h3><strong>Adding New Publications</strong></h3>
<p>
<ul style="list-style:disc;margin-left:25px">
<li>If you want to add structured publications or your harvested list of publications is incomplete, you can add a new publication in the profile editor by navigating to the “Publications” section. You can add a publication manually using the publication editor or by simply entering a DOI or PMID. </li>
<li>If you click “Add publication,” you will be asked to manually input all the citation information. </li>
<li>If you click “Add a publication by DOI or PMID,” you will be asked for the DOI or PMID. (The website does the rest.)</li>
<li>Once you have entered the correct information, click “Submit.” </li>
</ul>
</p>

<a name="help"></a><h3><strong>Get Help</strong></h3>
<ul style="list-style:disc;margin-left:25px">
<li>An <a href="http://www.screencast.com/users/bellis_lib/folders/Camtasia/media/92364717-9357-44a2-a082-7e47d3c003d1/embed">instructional screencast</a> is available for Biology and Public Health Faculty</li>
<li>The publication editor has been set up initially with just a few categories.  Please contact <a href="mailto:Researchers@Brown">Researchers@brown.edu</a> to request additional categories or with other feedback.</li>
</ul>
