<h2>RECENT IMPROVEMENTS and ROADMAP for FUTURE DEVELOPMENT</h2>
<p><a href="https://docs.google.com/a/brown.edu/forms/d/1H_LzEHRzpxv3OY266RjSwpAMwVuTEUFyNEgMPcZ4NiA/viewform">Make a suggestion!</a></p>

<p>
The implementation of Researchers@Brown has been overseen by a core team composed of representatives from the Dean of the Faculty,
Division of Biology, School of Public Health, Office of the Vice President for Research, Provost's Office, Computing and Information Services, and the Library.
Having launched on May 1, 2014, Researchers@Brown is now in a transitional stage.  A new oversight structure to set
policies and development priorities is under discussion. The roadmap below is therefore tentative.
</p>

<hr />

<h3>Improvements and New Features Since Launch</h3>
<ul style="list-style:disc;margin-left:25px;">
<li><span style="color:black">Structured Publication Data</span><br/>

            <p>A new <a href="/publications">"Publications"</a> section is now available.  Features include:
            <ul style="list-style:circle;margin-left:50px;">
                <li>Enter DOI or PMID to have full citation automatically retrieved</li>
                <li>Links to full text when available</li>
                <li>Easy form for entering/editing publications as separate fields</li>
                <li>Harvested publications from PubMed for Biology and Public Health faculty</li>
            </ul>
    </p>
</li>
<li><span style="color:black">Geographic Research Areas</span><br/>
You may now add geographic research areas using a standard set of geographic terms.  This section in under "Research" in the Profile Manager.  Type 3 characters to pull up a list of terms from which to choose.<br /><br />
</li>
</ul>
<hr />

<h3>Planned and Potential Future Improvements and New Features</h3>

<ul style="list-style:disc;margin-left:25px;">

<li><span style="color:black">Expanded Harvesting of Publications</span><br/>
In the future we will harvest publications from other sources (Web of Science, arXiv, etc.) and for additional faculty groups and disciplines.
<br /><br /></li>

<li><span style="color:black">Software Upgrades</span><br/>
Upgrade to <a href="http://duraspace.org/node/2175">VIVO 1.7</a>
<br /><br /></li>

<li><span style="color:black">Additional and Improved Structured Data</span><br />
Grant data is currently plain text migrated from the DRR-B.  Coeus and government sources will be used in the future to automate (when possible) the capture of grant data. <br /><br />

Other data types -- service, presentations, artistic works, awards and honors, etc will be considered and prioritized by the oversight group for conversion to structured data.<br /><br />

Improvements are planned in the Research Areas section:  Use of subject vocabularies, normalization of entries, and user guidelines. This will provide a more robust search.<br /><br />
Normalization of the names of external organizations and the addition of links as appropriate are in the planning stage.<br /><br />
</li>

<li><span style="color:black">Non-Brown Collaborators</span><br/>
The ability to add non-Brown collarborators and non-faculty Brown collarborators is a future improvement.<br /><br /> </li>

<li><span style="color:black">Integration with Other Systems</span><br/>
Researchers@Brown will use <a href="http://orcid.org">ORCID</a> identifiers when that system is rolled out to the campus.<br /><br />

The future integration of Researchers@Brown with the <a href="https://repository.library.brown.edu/">Brown Digital Repository (BDR)</a> is highly desirable. A faculty member might deposit a publication in the BDR and have the citation and link automatically available in Researchers@Brown.
<br /><br /></li>

A widget that would allow you to add Researchers@Brown data to your website has been developed for Duke University's VIVO instance and may be customized in the future for Brown use. <br /><br />

<li><span style="color:black">Output to NIH Biosketch</span><br/>
The University of Florida has developed a tool for creating NIH Biosketch documents in RTF using SPARQL and Python.  See: <a href="http://www.youtube.com/watch?v=sA77759ESzE&feature=youtu.be">http://www.youtube.com/watch?v=sA77759ESzE&feature=youtu.be</a>
As additional structured data becomes available in Researchers@Brown, the capacity to output to CV other formats will become more feasible.</li>
<br/><br/>
</ul>

<!--
<hr />
<h3>Suggested Improvements (from faculty survey, December, 2013 - January, 2014)</h3>

<ul style="list-style:disc;margin-left:25px;">
<li>Make toggle between editor and public display more obvious <span style="color:red">[done]</span></li>
<li>Add Fall 2013 course data <span style="color:red">[done]</span></li>
<li>Change profile name display to first last (from last, first) <span style="color:red">[done]</span></li>
<li>Add more/less functionality to narrative sections that currently do not have them (Funded Research, Scholarly Work, Teaching Overview) <span style="color:red">[done]</span></li>
<li>Fix needed: format bar can obscure part of the text box if cursor is not place in upper left. </li>
<li>Create the "User's Guide to Researchers@Brown" reference as a web page instead of a pdf.</li>
<li>Being able to embed video from vimeo or youtube directly on this page would be fantastic. </li>
<li>Allow drag and drop reordering of Research Areas and On the Web</li>
<li>Add structured links to non-Brown collaborators and allow for Brown collaborators who are not faculty.</li>
<li>Better graphics, visual presentation</li>
<li>Ability to customize arrangement of sections</li>
<li>maybe you can send us a link suggesting we update once a year, so that we can go to it right out of our email.</li>
<li>Under Education and Training, LINK each name of university or college to that school's homepage</li>
<li>Need controlled vocabularies for field, interest search</li>
<li>Automatic updates from NIH Reporter for funded grants, updates from PubMed (planned for Phase 2 – see above)</li>
<li>Brown should have all scholars register to obtain an ORCID unique identifier number. (on development roadmap) <span style="color:red">[in process]</span></li>
<li>Add section for academic honors, presentations, service <span style="color:red">[Phase 3]</span></li>
<br /><br />
</ul>
<hr />
<h3>Suggestions for improvements, February, 2014 - </h3>
<ul style="list-style:disc;margin-left:25px;">
<li>Ability to hide all degrees except for Ph.D [degrees come from FIS]</li>
</ul>
-->
