<%= render "search_box" %>

<div class="container">
  <div class="row">
    <h2>Improvements and Roadmap for Future Development</h2>

    <p><a href="https://docs.google.com/a/brown.edu/forms/d/1H_LzEHRzpxv3OY266RjSwpAMwVuTEUFyNEgMPcZ4NiA/viewform">Make a suggestion!</a></p>

    <h3>Improvements</h3>
    <ul>
    <li>In November 2017 we launched a new public interface with a more modern look and feel that focuses on the most common needs of our users rather than the generic experience that VIVO provides out of the box.  The new front end is a Ruby on Rails application on top of the Apache Solr search platform and emphasizes search over the ‘browse’ model of the native VIVO application.  The user interface is based on the responsive Bootstrap design and is now fully mobile compatible.</li>
    <li>Launched a sister project to introduce and register <a href="https://library.brown.edu/DigitalTechnologies/category/orcid/">ORCID identifiers</a> at Brown.
    <li>Added <a href="https://fast.oclc.org/searchfast/">FAST subject headings</a> as an option for research and geographical terms.</li>
    <li>Launched a <a href="https://library.brown.edu/DigitalTechnologies/announcing-a-researchers-brown-data-service/">data service</a> for campus developers who might want to use data from Researchers@Brown in other websites.</li>
    </ul>

    <h3>Current Work</h3>
    <ul>
    <li>We will soon add Brown co-author network visualizations to profiles. These visualizations are based on publications data in Researchers@Brown and will be exportable as JSON and CSV.</li>
    <li>We are exploring possible integrations with Faculty Activity Report data with the goal of reducing the need for users to enter data in multiple systems.</li>
    <li>We are working on improving pages for organizations in Researchers@Brown.</li>
    </ul>

    <h3>Future Development</h3>
    <p><strong><em>Curate Research Terms</em></strong>
    	<ul>
    	<li>Separate controlled vocabulary entries from manual entries.</li>
    	<li>Separate research terms and geographic terms (research geography)</li>
    	<li>Create an option for faculty-controlled ordering of research terms. (Research terms current display alphabetically.)</li>
    	<li>Investigate other controlled vocabulary sources: MESH, publication data, etc.</li>
    	</ul>
    </p>
    <p><strong><em>Integrate with other systems</em></strong>
    	<ul>
    	<li>Faculty Activity Report (see Current Work)</li>
    	<li>Add and index ORCID identifiers in profiles.</li>
    	<li>Create a dissertation adviser role in Researchers@Brown and cross link to dissertations in the Brown Digital Repository (BDR).</li>
    	<li>Integrate structured data from other sources, e.g. grants.</li>
    	</ul>
    </p>
    <p><strong><em>Create/Expand User Tools</em></strong>
    	<ul>
    	<li>Create export tools for VIVO data beginning with a simple tool for re-use of VIVO data (Phase One) and, in future, customized export in multiple formats (Phase Two) and Export to CV and Biosketch (Phase Three).</li>
    	<li>Expand coauthor visualizations to non-Brown coauthors. Based on user feedback, create new visualization options.</li>
    	<li>Explore providing Google Analytics data to individual faculty.</li>
    	<li>Continue to improve search functionality and ranking algorithms.</li>
    	</ul>
    </p>
  </div>
</div>
