<div class="organization-photo-panel col-xs-12 col-sm-12 col-md-4 col-lg-4">
  <section itemscope="" itemtype="http://schema.org/Organization" id="individual-intro" class="vcard person" role="region">
    <section role="region">
      <div id="photo-wrapper" aria-hidden="true">
        <%= image_tag(@presenter.organization.thumbnail || "org_placeholder_noborder.png", alt: "Organization Picture") %>
      </div>
    </section>
  </section>
</div>
<div class="decorative-bar"></div>
<div class="organization-title">
  <h2><%= @presenter.organization.name %></h2>
  <p>
    <ul>
      <% @presenter.organization.web_pages.each do |page| %>
        <li><a href="<%= page.url %>"><%= page.text %></a>
      <% end %>
    </ul>
  </p>
</div>