<div class="col-md-3 col-sm-4 col-xs-12">
  <section itemscope="" itemtype="http://schema.org/Person" id="individual-intro" class="vcard person" role="region">
    <section class="share-contact" role="region">
      <div id="photo-wrapper">
        <%= image_tag(@organization.thumbnail || "org_placeholder.jpg", alt: "Organization Picture", width: "190") %>
      </div>
    </section>
  </section>
</div>
