<div class="col-md-3 col-sm-4 col-xs-12">
  <section itemscope="" itemtype="http://schema.org/Person" id="individual-intro" class="vcard person" role="region">
    <section class="share-contact" role="region">
      <div id="photo-wrapper">
          <a href="" title="Individual photo">
              <img class="xxx_img-circle"
                src="<%= @organization.thumbnail %>"
                alt="<%= @organization.name %>"
                width="190">
          </a>
      </div>
    </section>
  </section>
</div>
