<div class="organization-photo-panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <section itemscope="" itemtype="http://schema.org/Person" id="individual-intro" class="vcard person" role="region">
    <section role="region">
	    <header>
	      <h2 class="vcard foaf-person hidden-xs"><% "xxx" %></h2>
	      <div id="photo-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	        <%= image_tag(@organization.thumbnail || "org_placeholder.jpg", alt: "Organization Picture") %>
	      </div>
	      <div id="organization-header" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		      <h3><%= @organization.name %></h3>
		      <ul>
		      <% @organization.web_pages.each do |page| %>
		        <li><a href="<%= page.url %>"><%= page.text %></a>
		      <% end %>
		      </ul>
	      </div>
	    </header>
    </section>
  </section>
</div>
