<% @link_alternate = individual_export_path(format: "rdf") %>

<%= render "search_box" %>

<div class="container profile org-profile">
  <% '= render "show_toolbar"' %>
  <div class="row person-content" itemscope itemtype="http://schema.org/Organization">
    <div class="container organization-page">
      <%= render "organization/show_left_panel" %>
      <%= render "organization/show_right_panel" %>
    </div>
  </div>
</div>
