<%= render "search_box" %>

<div class="container profile org-profile">
  <% '= render "show_toolbar"' %>
  <div class="row person-content">
    <div class="container organization-page">
      <%= render "manage_profile_login" %>
      <%= render "organization/show_left_panel" %>
      <%= render "organization/show_right_panel" %>
    </div>
  </div>
</div>
