<%= render "search_box" %>

<div class="container">
  <% '= render "show_toolbar"' %>
  <div class="row person-content">
    <div class="container">
      <%= render "organization/show_left_panel" %>
      <%= render "organization/show_right_panel" %>
    </div>
  </div>
</div>
