<form id="sparql-query" name="sparql-query"
  action="<%= sparql_submit_path() %>" method="get">
  <b>Query</b></br>
  <textarea id="query" rows="15" cols="90"></textarea>
  <div>
    <button type="submit" class="btn btn-default btn-lg sympl-search">Submit</button>
  </div>
</form
