<nav class="navbar navbar-default navbar-static-top navbar-inverse" id="sticky-nav" role="navigation">
    <div class="container">
        <form class="navbar-form navbar-left" role="search" action="/s/search.html?collection=vivo-lilliput&amp;form=lilliputsimple&amp;profile=_default_preview" method="get">
            <div class="form-group">
                <input class="form-control" name="query" placeholder="Find an expert..." type="text">
            </div>
            <input name="collection" value="vivo-lilliput" type="hidden">
            <input name="form" value="lilliputsimple" type="hidden">
            <button type="submit" class="btn btn-default sympl-search hidden-xs">
                <span class="glyphicon glyphicon-search" role="submit"></span>
            </button>
            <button type="submit" class="btn btn-default btn-block sympl-search hidden-sm hidden-lg hidden-md">
                <span class="glyphicon glyphicon-search" role="submit"></span>
            </button>
        </form>

        <div id="navbar-browse" class="dropdown navbar-left">
            <button id="lg-browse" class="btn btn-default navbar-btn dropdown-toggle hidden-xs" type="button" data-toggle="dropdown">
                Browse
                <span class="caret"></span>
            </button>

            <button id="xs-browse" class="btn btn-default navbar-btn btn-block hidden-sm hidden-lg hidden-md dropdown-toggle" type="button" data-toggle="dropdown">
                Browse
                <span class="caret"></span>
            </button>

            <ul id="main-nav" role="list" class="dropdown-menu">
                <li class="dropdown" role="listitem">
                    <a href="https://bootstrap-vivo-beta.symplectic.co.uk/vivo/" title="Home menu item">
                        Home
                    </a>
                </li>
                <li class="dropdown" role="listitem">
                    <a href="https://bootstrap-vivo-beta.symplectic.co.uk/vivo/people" title="People menu item">
                        People
                    </a>
                </li>
                <li class="dropdown" role="listitem">
                    <a href="https://bootstrap-vivo-beta.symplectic.co.uk/vivo/organizations" title="Organizations menu item">
                        Organizations
                    </a>
                </li>
                <li class="dropdown" role="listitem">
                    <a href="https://bootstrap-vivo-beta.symplectic.co.uk/vivo/research" title="Research menu item">
                        Research
                    </a>
                </li>
                <li class="dropdown" role="listitem">
                    <a href="https://bootstrap-vivo-beta.symplectic.co.uk/vivo/events" title="Events menu item">
                        Events
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
