<% if !locals[:text].empty? %>
  <div class="panel-heading">
    <h4 id="relatedBy-Authorship" title="" class="panel-title"><%= locals[:title] %></h4>
  </div>

  <div class="panel-body">
    <div class="property-list" role="list" id="relatedBy-Authorship-List" displaylimit="5">
      <%= locals[:text].html_safe %>
    </div>
  </div>
<% end %>
