<div id="research" class="tab-pane fade in active" role="tabpanel">
  <h2 id="awards" pgroup="tabs" class="hidden">Research Overview</h2>
  <div id="awardsGroup">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 id="relatedBy-Authorship" title="" class="panel-title">Research Overview</h3>
      </div>

      <div class="panel-body">
        <div class="property-list" role="list" id="relatedBy-Authorship-List" displaylimit="5">
          <%= @faculty.research_overview.html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>
