<div id="publications" class="tab-pane fade in active" role="tabpanel">
  <h2 id="publications" pgroup="tabs" class="hidden">Publications</h2>
  <div id="publicationsGroup">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 id="relatedBy-Authorship" title="" class="panel-title">Selected Publications
        </h3>
      </div>

      <div class="panel-body">
        <div class="property-list" role="list" id="relatedBy-Authorship-List" displaylimit="5">

          <h4>Academic Article</h4>
          <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#publicationFilterDiv">
              Filter
          </button>
          <div class="collapse" id="publicationFilterDiv">
              <div class="form-group">
                  <input id="publicationFilter" placeholder="Narrow results..." class="form-control" aria-label="Filter publications" type="text">
              </div>
          </div>

          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Year</th>
                <th>Title</th>
                <th>Altmetric</th>
              </tr>
              <tr class="publicationTableRow" role="listitem">
                <td>
                    <span class="listDateTime">2011</span>
                </td>
                <td class="citation-data">
                  <a href="https://bootstrap-vivo-beta.symplectic.co.uk/vivo/individual?uri=http%3A%2F%2Fopenvivo.org%2Fa%2Fdoi10.1353%2Fnot.2011.0185" title="resource name">
                      <i>Gone to the Country: The New Lost City Ramblers &amp; the Folk Music Revival</i>
                      (review)</a>.&nbsp;
                  <em>Notes</em>.&nbsp; 68:385-387.
                  <span class="listDateTime">2011</span>
                  <br>
                  <span>10.1353/not.2011.0185&nbsp;</span>
                </td>
                <td>
                  <div data-uuid="285eecf8-f68a-26d0-0ea1-8bf2d4231d9b" data-badge-popover="left" data-badge-type="donut" data-doi="10.1353/not.2011.0185" data-hide-no-mentions="true" class="altmetric-embed altmetric-hidden"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
