<div class="col-md-3 col-sm-4 col-xs-12">
  <section itemscope="" itemtype="http://schema.org/Person" id="individual-intro" class="vcard person" role="region">
    <section class="share-contact" role="region">
      <div id="photo-wrapper">
        <%= image_tag(@presenter.faculty.thumbnail || "person_placeholder.jpg", alt: "Faculty Picture", width: "175", class: "img-circle") %>
      </div>
      <h2 class="hidden-sm hidden-md hidden-lg">
          <%= @presenter.faculty.name %>
      </h2>

      <!-- Contact Info -->
      <div class="emailsContainer">
        <h4>
          <a href="mailto:<%= @presenter.faculty.email %>"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
        </h4>
      </div>

      <h5>Visualizations</h5>
      <div id="coauthorship_link_container" class="collaboratorship-link-container">
          <div class="collaboratorship-link">
              <a href="" title="Co-author Network" class="btn btn-default">
                  <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                  (pending)
              </a>
          </div>
      </div>

      <div id="mapofscience_link_container" class="collaboratorship-link-container">
          <div class="collaboratorship-link">
              <a href="" title="map of science" class="btn btn-default">
                  <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                  (pending)
              </a>
          </div>
      </div>

    </section>
  </section>
</div>
