<div id="tabTeaching" class="panel panel-default hidden">
  <h3>Teaching</h3>

  <%= render "faculty/show_text_tab", locals: {
    edit: @presenter.edit_mode,
    divId: "techingOverview",
    title: "Teaching Overview",
    text: @presenter.faculty.teaching_overview} %>

  <!-- these are not editable by the user -->
  <% if @presenter.faculty.teacher_for.count > 0 %>
      <div class="panel-heading">
        <h4 class="panel-title">Teaching</h4>
      </div>

      <div class="panel-body">
        <table class="table table-hover">
          <tbody>
            <% @presenter.faculty.teacher_for.each do |class_name| %>
              <tr class="tableRow" role="listitem">
                <td class="citation-data">
                  <span class="listDateTime"><%= class_name%></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  <% end %>

</div> <!-- tabTeaching panel -->
