<!-- small toolbar on the right side -->
<div class="row search-basket">
    <div class="container">
        <div class="col-md-12">
            <ul id="basket-controls">
                <span style="display: inline;" id="previousB"></span>
                <span style="display: inline;" id="basketB">
                    <a href="https://bootstrap-vivo-beta.symplectic.co.uk/s/search.html?collection=vivo-lilliput&amp;form=SavedResults">
                        <span class="glyphicon glyphicon glyphicon-tags"></span>
                        <span class="badge" id="basketNum">101</span>
                    </a>
                </span>
                <span style="display: none;" id="nextB"></span>
                <span style="display: inline;" id="addB">
                    <a id="addtobasket" href="#" title="add this Expert to your basket" class="add-basket">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </span>
            </ul>
        </div>
    </div>
</div>
