<div class="col-md-3 col-sm-4 col-xs-12">
  <section itemscope="" itemtype="http://schema.org/Person" id="individual-intro" class="vcard person" role="region">
    <section class="share-contact" role="region">
      <div id="photo-wrapper">
          <a href="https://bootstrap-vivo-beta.symplectic.co.uk/vivo/file/n10756/IMG_6125+%281%29.jpg" title="Individual photo">
              <img class="img-circle" src="<%= @faculty.thumbnail %>" title="click to view larger image" alt="<%= @faculty.name %>" width="190">
          </a>
      </div>
      <h2 class="hidden-sm hidden-md hidden-lg">
          <%= @faculty.name %>
      </h2>

      <!-- Contact Info -->
      <div class="emailsContainer">
        <h4>
          <a href="mailto:<%= @faculty.email %>"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
        </h4>
      </div>

      <h5>Visualizations</h5>
      <div id="coauthorship_link_container" class="collaboratorship-link-container">
          <div class="collaboratorship-link">
              <a href="https://bootstrap-vivo-beta.symplectic.co.uk/vivo/vis/author-network/orcid0000-0003-0490-4990" title="Co-author Network" class="btn btn-default">
                  <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                  Co-author Network
              </a>
          </div>
      </div>

      <div id="mapofscience_link_container" class="collaboratorship-link-container">
          <div class="collaboratorship-link">
              <a href="https://bootstrap-vivo-beta.symplectic.co.uk/vivo/vis/map-of-science/orcid0000-0003-0490-4990" title="map of science" class="btn btn-default">
                  <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                  Map of Science
              </a>
          </div>
      </div>

    </section>
  </section>
</div>
