<div id="teacherFor" class="tab-pane fade in active" role="tabpanel">
  <h2 id="teacherFor" pgroup="tabs" class="hidden">Teacher For</h2>
  <div id="teacherForGroup">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 id="relatedBy-Authorship" title="" class="panel-title">Teaching</h3>
      </div>

      <div class="panel-body">
        <div class="property-list" role="list" id="relatedBy-Authorship-List" displaylimit="5">
          <table class="table table-hover">
            <tbody>
              <% @faculty.teacher_for.each do |class_name| %>
                <tr class="tableRow" role="listitem">
                  <td class="citation-data">
                    <span class="listDateTime"><%= class_name%></span>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
