<% if @presenter.has_teaching %>
  <% if locals[:add_tab] == true %>
    <div id="teaching" class="tab-pane fade">
      <h3>&nbsp;</h3>
  <% else %>
    <h3>Teaching</h3>
  <% end %>

    <%= render "show_text_tab", locals: {
      divId: "techingOverview",
      title: "Teaching Overview",
      text: @presenter.faculty.teaching_overview} %>

    <% if @presenter.faculty.teacher_for.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 id="relatedBy-Authorship" title="" class="panel-title">Teaching</h3>
        </div>

        <div class="panel-body">
          <table class="table table-hover">
            <tbody>
              <% @presenter.faculty.teacher_for.each do |class_name| %>
                <tr class="tableRow" role="listitem">
                  <td class="citation-data">
                    <span class="listDateTime"><%= class_name%></span>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

  <% if locals[:add_tab] == true %>
    </div>
  <% end %>
<% end %>
