<% if @presenter.has_research %>

  <% if locals[:add_tab] == true %>
    <div id="research" class="tab-pane tabContentFinder">
      <h3>&nbsp;</h3>
  <% else %>
    <h3>Research</h3>
  <% end %>

      <%= render "show_text_tab", locals: {
        divId: "researchOverview",
        title: "Research Overview",
        text: @presenter.faculty.research_overview} %>
      <%= render "show_text_tab", locals: {
        divId: "researchStatement",
        title: "Research Statement",
        text: @presenter.faculty.research_statement} %>
      <%= render "show_text_tab", locals: {
        divId: "fundedResearch",
        title: "Funded Research",
        text: @presenter.faculty.funded_research} %>
      <%= render "show_text_tab", locals: {
        divId: "scholarlyWork",
        title: "Scholarly Work",
        text: @presenter.faculty.scholarly_work} %>

  <% if locals[:add_tab] == true %>
    </div>
  <% end %>

<% end %>
