<style>
a.full-text-link {
    background-color:#a33646;
    color:white!important;
    text-decoration:none;
    font-size:smaller;
    padding: 0px 2px 0px 2px;
}
span.pub-type-label {
    background-color:blue;
    color:white!important;
    font-size:smaller;
    padding: 0px 2px 0px 2px;
}
</style>

<%= render "search_box" %>

<div class="container">
  <div class="row person-content">
    <div class="container">
      <%= render "show_left_panel" %>
      <%= render "show_right_panel" %>
    </div>
  </div>
</div>
