<style>
a.full-text-link {
    background-color:#a33646;
    color:white!important;
    text-decoration:none;
    font-size:smaller;
    padding: 0px 2px 0px 2px;
}
span.pub-type-label {
    background-color:blue;
    color:white!important;
    font-size:smaller;
    padding: 0px 2px 0px 2px;
}
</style>

<script>
function PublicationsShowAll() {
  // show all publications
  $(".pub-item").removeClass("hidden");
  $(".btn-filter-pub").removeClass("active");
  $("#btn-for_all").addClass("active");
}

function PublicationsShowOnly(filter) {
  // hide all publications except the ones that we want to filter
  $(".pub-item").addClass("hidden");
  $(".pub-type_" + filter).removeClass("hidden");
  $(".btn-filter-pub").removeClass("active");
  $("#btn-for_" + filter).addClass("active");
}

</script>

<%= render "search_box" %>

<div class="container">
  <div class="row person-content">
    <div class="container">
      <%= render "show_left_panel" %>
      <%= render "show_right_panel" %>
    </div>
  </div>
</div>
