/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* source http://www.bootply.com/128062 */
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

/* MAKE YOUR CSS CHANGES HERE */

/* COLORS */
/*
#594036	  brown
#C00404	  red
#831B1B	  dark red
#F5F2EC	  warm gray
*/


/* Results Page */
.results-wrapper {
	padding-right: 0;
}
.results-row {
	margin: 0;
	padding: 0;
}
.expert-results {
/*	border: 1px solid red;*/
	min-height: 32rem;
}
.vcard {
/*	border: 1px solid blue;*/
}
.emailsContainer {
		display: flex;
		justify-content: flex-end;
		padding: 0 30px;
		position: absolute;
		left: 0;
		right: 0;
}
.share-contact {
	background-color: #F5F2EC;
	min-height: 32rem;
}
#photo-wrapper {
/*	border: 1px solid pink;*/
	position: absolute;
	bottom: 32%;
	left: 0;
	right: 0;
	z-index: 10;
}
.contact-content {
/*	border: 1px solid pink;*/
	color: #fff;
	margin: 0 30px;
	position: absolute;
	left: 0;
	right: 0;
	top: 65%;
	z-index: 10;
}
.contact-content a {
	color: #fff;
	font-weight: bolder;
}
.share-contact--bottom {
/*	border: 1px solid green;*/
	background-color: #594036;
	min-height: 18rem;
	margin: 0 15px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}
.pagination > li > a {
	color: #333;
}
.pagination > li > a:hover {
	background-color: #F5F2EC;
	color: #C00404;
}
.pagination > .active > a {
	background-color: #C00404;
	border-color: #C00404;
}
.pagination > .active > a:hover {
	background-color: #C00404;
	border-color: #C00404;
}
/* End of Results Page */
