/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* source http://www.bootply.com/128062 */
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

/* MAKE YOUR CSS CHANGES HERE */

/* COLORS */
/*
#333	  soft black
#594036	  brown
#7E7E7E	  gray
#F5F2EC	  warm gray
#C00404	  red
#FF5252	  bright red
#831B1B	  dark red
*/

/* Header */
/* red header */
.header {
	background-color: hsl(0, 80%, 30%);
	height: 5rem;
	padding: 0;
}
.header .logo-sm {
	text-align: left;
}
.header img {
	max-width: 110px;
}
.hgroup .container .row {
	display: flex;
	align-items: center;
	height: 5rem;
}
.site-title {
	text-align: center;
}
.site-title h1 {
	font-size: 2rem;
}
.site-logo {
	padding-top: .5rem;
	text-align: left;
}
/* navbar */
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}
#sticky-nav {
	background-image: none;
	margin-bottom: 3rem;
	padding: 0 0 0 1.5rem;
	position: absolute;
	top: 0;
}
#sticky-nav .container {
	padding-left: 0 1.5rem;
	width: 100%;
}
#sticky-nav .navbar-btn {
	padding: 8px 12px;
}
@media (max-width: 1054px) {
	#sticky-nav .navbar-btn {
		display: none;
	}
}
.form-group {
	margin-left: .625rem;
}
#sticky-nav button.btn.sympl-search {
	background-color: #232323;
	border: none;
	padding: 8px 12px;
}
/* End of Header */



/* Results Page */
.container-fluid {
	padding-top: 3rem;
}
@media (min-width: 1700px) {
	.container-fluid {
		max-width: 1700px;
	}
}
/* results */
.results-wrapper {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	padding-right: 0;
}
#search-result-count, .facet-breadcrumbs {
	padding-left: 15px;
}
#search-result-count a, .text-muted {
	color: #555555;
}
#search-result-count a {
	font-weight: bold;
}
#search-result-count a:hover {
	color: #C00404;
}
.facet-breadcrumbs a {
	color: #333;
}
.facet-breadcrumbs a:hover {
	color: #C00404;
}
.results-row {
	margin: 0;
	padding: 0;
}
.expert-results {
	min-height: 32rem;
}
.emailsContainer {
	display: flex;
	justify-content: flex-end;
	padding: 0 30px;
	position: absolute;
	left: 0;
	right: 0;
}
.emailsContainer .glyphicon-envelope {
	color: #7E7E7E;
	transform: scaleX(1.3);
}
.emailsContainer .glyphicon-envelope:hover {
	color: #333;
}
.share-contact {
	background-color: #F5F2EC;
	min-height: 32rem;
	padding: 1rem;
}
.results-photo {
	position: absolute;
	bottom: 32%;
	left: 0;
	right: 0;
	z-index: 10;
}
.contact-content {
	color: #fff;
	margin: 0 30px;
	position: absolute;
	left: 0;
	right: 0;
	top: 65%;
	z-index: 10;
}
.contact-content a {
	color: #fff;
	font-weight: bolder;
	line-height: 2rem;
}
.contact-content a:hover {
	border-bottom: 1px dashed #fff;
}
.share-contact--bottom {
	background-color: #594036;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	min-height: 16rem;
	margin: 0 15px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}

/* pagination */
.pagination > li > a {
	color: #333;
}
.pagination > li > a:hover {
	background-color: #F5F2EC;
	color: #C00404;
}
.pagination > .active > a {
	background-color: #C00404;
	border-color: #C00404;
}
.pagination > .active > a:hover {
	background-color: #C00404;
	border-color: #C00404;
}

/* facet column */
#search-facets {
	border-color: #777;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 15px;
	padding: 0 0 0 15px;
}
.panel-default > .panel-heading {
	background-color: #333;
  color: #fff;
	background-image: none;
	background-repeat: no-repeat;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.panel-heading:nth-of-type(1) {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.facetLabel {
	color: #fff;
	margin: 0;
	padding: 1rem 0;
}
.panel-body {
	padding-right: 11px;
}
.panel-body a {
	color: #000;
	line-height: 2.5rem;
}
.panel-body a:hover {
	color: #C00404;
}
.categoryCount {
	color: #000;
	margin: 0 -2px;
}
.no-orphans {
	display: inline-block;
	white-space: nowrap;
}
.glyphicon-remove {
	top: 3px;
	padding-right: 2px;
}
.search-toggle-more-categories {
	color: #C00404;
	font-size: 14px;
}
.search-toggle-more-categories:hover {
	color: #FF5252;
}
.btn-link:focus {
	color: #831B1B;
	text-decoration: dashed;
}
.modal-body li {
	color: #831B1B;
}
/* End of Results Page */


/* Footer */
.footer p.copyright {
	color: #ddd;
}
.footer p.copyright a{
	color: #FF5252;
}
.footer p.copyright a:hover {
	color: #C00404;
}
/* End of Footer */



/* Individual Page */
.person-content {
/*	border: 1px solid blue;*/
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
/* left panel */
.person-content #individual-intro #photo-wrapper {
	margin-bottom: 0;
}
.person-content #individual-intro .emailsContainer {
	color: black;
	justify-content: center;
	position: relative;
}
#individual-intro .emailsContainer .glyphicon-envelope {
	color: #333;
	font-size: 2rem;
	transform: scaleX(1.5);
}
#individual-intro .emailsContainer .glyphicon-envelope:hover {
	color: #C00404;
}
.collaboratorship-link .btn {
	color: #fff;
	background-color: #333;
}
.collaboratorship-link .btn:hover {
	color: #fff;
	background-color: #C00404;;
}
.share-contact span.glyphicon {
	color: #fff;
}
.share-contact h5 {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 1rem;
	padding: 2rem 0;
}
/* right panel */
h2.vcard {
	font-weight: bold;
	margin-bottom: 0;
}
#individual-info header {
	margin-bottom: 5rem;
}
#individual-info h3 {
	margin-top: 1rem;
	margin-bottom: 0;
}
#individual-info h4 {
	font-weight: 600;
}
#individual-info a {
	border-bottom: 1px dashed #831B1B;
	color: #831B1B;
	text-decoration: none;
}
#individual-info a:hover {
	border-bottom: 1px dashed #C00404;
	color: #C00404;
}
/*tr.publicationTableRow {
	background-color: blue;
}*/
.pub-title {
	font-weight: 600;
}
/* End of Individual Page */
