<div class="error-404-wrapper">
	<h1>Oops! Something went wrong</h1>
	<p>We've logged the error and will review it. However, if you need assistance,
	  please let us know via the
	  <a href="<%= contact_us_url() %>" target="_blank" title="Submit feedback">Contact Us</a>
	  form.</p>

	<%= render "hero_search" %>
</div>
