<div class="error-404-wrapper">
	<h1>Page not found</h1>
	<p>The page that you are looking for does not exist. Try going to the
	  <a href="<%= root_url %>">home page</a> or
	  <a href="<%= search_url %>">searching for a researcher</a>.</p>

	<%= render "hero_search" %>
</div>
