<div>
    <h2>Subject Librarians</h2>
    <p>Download the data for the faculty associated with a subject librarian.</p>
    <ul>
        <li>Emily Ferrier
            (<a href="<%= reports_subject_lib_url('eferrier') %>.xml">Excel/XML</a>,
            <a href="<%= reports_subject_lib_url('eferrier') %>.csv">CSV</a>)
    </ul>
  </div>