<style>
    .col_name {
        width: 30%
    }

    .col_description {
        width: 30%
    }

    .col_excel {
        width: 30%
    }

    .col_csv {
        width: 30%
    }
</style>

<div>
    <h2>Subject Librarian Reports</h2>
    <p>Download the data for a specific report</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Excel/XML</th>
            <th>CSV</th>
        </tr>
        <% @presenter.reports.each do |report| %>
            <tr>
                <td class="col_name"><%= report.name %></td>
                <td class="col_description"><%= report.description %></td>
                <td class="col_excel"><a href="<%= reports_subject_lib_url(report.id) %>.xml">download</a></td>
                <td class="col_csv"><a href="<%= reports_subject_lib_url(report.id) %>.csv">download</a></td>
            </tr>
        <% end %>
    </table>
 </div>